* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Font Files */

		/* Avenir Next LT Pro Font */

		@font-face { 
			font-family: Avenir; 
			src: url('Assets/Fonts/AvenirNextLTPro-Regular.otf'); 
		}

		@font-face { 
			font-family: Avenir-semibold; 
			src: url('Assets/Fonts/AvenirNextLTPro-Demi.otf'); 
		}

		@font-face { 
			font-family: Avenir-bold; 
			src: url('Assets/Fonts/AvenirNextLTPro-Bold.otf'); 
		}

		/* End - Avenir Next LT Pro Font */


/* End - Font Files */

html {
	max-width: 100%;
	overflow-x: hidden;
}


body {
	font-family: Avenir, sans-serif;
	max-width: 100%;
	overflow-x: hidden;
}

/* Style Guide CSS - Desktop */

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #eee;
}

		/* Colors */

		/* Turmeric */

		:root {
		  --turmeric-bg: #FFFBF6;
		  --turmeric-primary: #FFB944;
		  --turmeric-light: #FBE9D8;
		}

		.turmeric-bg {
			background: var(--turmeric-bg);
		}

		.turmeric-primary {
			background: var(--turmeric-primary);
		}

		.turmeric-light {
			background: var(--turmeric-light);
		}

		/* End - Sky Blue */


		/* White */

		:root {
		  --white-primary: #FAFAFA;
		  --white-secondary: #E4E4E4;
		  --white-border: #DDDDDD;
		  --white-tertiary: #AAAAAA;
		}

		.white-primary {
			background: var(--white-primary);
		}

		.white-secondary {
			background: var(--white-secondary);
		}

		.white-border {
			background: var(--white-border);
		}

		.white-tertiary {
			background: var(--white-tertiary);
		}

		/* End - White */


		/* Black */

		:root {
		  --black-primary: #2A2A2A;
		  --black-secondary: #353535;
		  --black-border: #555555;
		  --black-tertiary: #7A7A7A;
		}

		.black-primary {
			background: var(--black-primary);
		}

		.black-secondary {
			background: var(--black-secondary);
		}

		.black-border {
			background: var(--black-border);
		}

		.black-tertiary {
			background: var(--black-tertiary);
		}

		/* End - Black */

		/* End Colors */



		/* Fonts/Type */

		.h1 {
			font-family: Avenir-bold;
			font-size: 48px;
			line-height: 125%;
			color: var(--black-secondary);
		}

		.h2 {
			font-family: Avenir-bold;
			font-size: 32px;
			line-height: 132%;
			color: var(--black-secondary);
		}

		.h3 {
			font-family: Avenir-bold;
			font-size: 30px;
			line-height: 133%;
			color: var(--black-secondary);
		}

		.h4 {
			font-family: Avenir-bold;
			font-size: 26px;
			line-height: 138%;
			color: var(--black-secondary);
		}

		.h5 {
			font-family: Avenir-semibold;
			font-size: 22px;
			line-height: 150%;
			color: var(--black-secondary);
		}

		.h6 {
			font-family: Avenir-semibold;
			font-size: 18px;
			line-height: 150%;
			color: var(--black-secondary);
		}

		.body-text {
			font-family: Avenir;
			font-size: 16px;
			line-height: 150%;
			color: var(--black-secondary);
		}

		.body-text-2 {
			font-family: Avenir;
			font-size: 14px;
			line-height: 150%;
			color: var(--black-secondary);
		}

		.label-text {
			font-family: Avenir;
			font-size: 10px;
			line-height: 150%;
			color: var(--black-secondary);
		}

		.block-quote {
			font-family: Avenir;
			font-size: 18px;
			line-height: 150%;
			color: var(--black-secondary);
		}

		/* End - Fonts/Type */		

/* End - Style Guide CSS - Desktop */


/* Components - Desktop */

	/* Navbar */

		.nav-bg {
			background: linear-gradient(93.15deg, #1B1C24 2.57%, #1B1C24 26.82%, #1F2028 37.01%, #23222A 45.56%, #2D2932 58%, #2F323B 74.09%, #2B333C 97.36%);
		}
	
		.nav-logo {
			font-family: Avenir-bold;
			font-size: 20px;
			line-height: 20px;
			text-transform: uppercase;
			color: var(--white-primary) !important;
		}

		.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
			color: var(--turmeric-primary) !important;
		}

		.nav-link-element {
			font-family: Avenir-semibold;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			color: var(--white-primary) !important;
			padding: 20px 32px !important;
		}

		.nav-link-element:hover {
			color: var(--turmeric-primary) !important;
		}

		.nav-btn {
			color: var(--white-primary) !important;
			padding: 16px 24px !important;	
			margin-left: 20px;
			background: linear-gradient(90deg, #FFB944 0%, #FF9E44 100%);
			border: 1px solid var(--turmeric-primary);
		}

		.nav-btn:hover {
			color: var(--turmeric-primary) !important;
			background: transparent;
			border: 1px solid var(--turmeric-primary);
		}

		.navbar-nav li a:hover, .navbar-nav > .active > a {
		  color: var(--turmeric-primary) !important;
		}

		/* End - Navbar */

		/* Footer */

		footer {
			background: var(--white-primary);
    		position: relative;
		}

		.footer-logo {
			font-family: Avenir-bold;
			font-size: 14px;
			line-height: 17px;
			text-transform: uppercase;
			color: var(--black-primary);
			letter-spacing: 1px;
		}

		.footer-logo:hover {
			text-decoration: none;
			color: var(--turmeric-primary);
		}

		.footer-desc {
			color: var(--black-tertiary);
		}

		.footer-title {
			font-family: Avenir-semibold;
			line-height: 17px;
			text-transform: uppercase;
			padding-bottom: 14px;
			color: var(--black-primary);
		}

		.footer-info {
			color: var(--black-tertiary);
			margin-bottom: 12px;
		}

		.footer-info:hover {
			color: var(--turmeric-primary) !important;
			text-decoration: none;
		}

		.social-icon {
			margin-right: 12px;
		}

		.copyright {
			color: var(--black-tertiary);
			text-align: center;
		}

		/* End - Footer */


		/* Home Page */

			/* Hero Section */

			.hero {
				width: 100vw;
				height: 90vh;
				max-width: 100%;
				max-height: 100%;
				position: relative;
				background: url("Assets/Images/Hero BG.png");
				background-position: -120px -360px;
			}

			.overlay {
				position: relative;
				width: 100%;
				height: 100%;
				background: linear-gradient(93.23deg, #1B1C24 17.91%, rgba(27, 28, 36, 0.93) 37.78%, rgba(27, 28, 36, 0) 80.75%);
			}

			.hero-container {
				margin-top: -90vh;
			}

			.hero-content {
				height: 90vh;
			}

			.hero-gold-box {
				width: 640px;
				height: 460px;
				border: 10px solid transparent;
			    border-image: linear-gradient(270deg, rgba(255,185,68,0.4) 0%, rgba(255, 255, 255, 0) 100%);
			    border-image-slice: 1;
			    padding-right: 40px;
			}

			.hero-head {
				font-size: 56px;
				line-height: 114%;
				font-family: Avenir-bold;
				color: var(--white-primary);
				margin-top: 30px;
			}

			.cta-btn {
				margin-top: 40px;
				background: linear-gradient(90deg, #FFB944 0%, #FF9E44 100%);
				color: var(--white-primary);
				padding: 12px 40px;
				border: 1px solid var(--turmeric-primary);
				font-family: Avenir-bold;
				font-size: 18px;
				line-height: 150%;
				text-transform: uppercase;
			}

			.cta-btn:hover {
				background: transparent;
				color: var(--turmeric-primary);
				border: 1px solid var(--turmeric-primary);
			}

			.fssai-container {
				position: relative;
			    width: 110px;
			    height: 110px;
			    border-radius: 50%;
			    background: var(--white-primary);
			    margin-top: -70px;
			    left: 580px;
			    flex-direction: column;
			}

			.fssai-logo {
				width: 60px;
				margin-top: 10px;
			}

			.fssai-certified {
				font-family: Avenir-semibold;
				margin-top: 5px;
			}

			/* End - Hero Section */	


			/* Featured Spices Section */

			section {
				padding: 104px 0 120px;
			}

			.featured-spices-section, .services-section {
				background: var(--white-primary);
			}

			.pattern-div {
			    display: flex;
			    justify-content: flex-start;
			}

			.pattern-div2 {
			    display: flex;
			    justify-content: flex-end;
			}

			.pattern1 {
				position: relative;
			    margin-top: -150px;
			    margin-left: -40px;
			    z-index: 0;
			}

			.pattern2 {
				    position: relative;
				    margin-left: 1745px;
				    margin-bottom: -205px;
				    z-index: 0;
			}

			.pattern3 {
				position: relative;
			    margin-top: -200px;
			    margin-left: 0px;
			    z-index: 0;
			}

			.pattern4 {
				    position: relative;
				    margin-left: 1785px;
				    margin-bottom: -165px;
				    z-index: 0;
			}

			.spices-cards {
				margin-top: 48px;
			}

			.spice-card {
				border: none;
				background: transparent;
			}

			.spice-card-image {
				border-radius: 5px;
			}

			.spice-card-title {
				text-align: center;
				margin-top: 16px;
			}

			/* End - Featured Spices Section */


			/* Value Props Section */

			.value-props-section {
				background: var(--white-primary);
				padding-top: 120px;
				z-index: 10;
   		 		position: relative;
			}

			.value-prop-card {
				border: none;
				background: var(--turmeric-bg);
				padding: 40px;
				width: 400px;
				margin: 20px 0;
				box-shadow: -2px 0px 0px #FFB944;
				border-radius: 10px;
			}

			.value-prop-col2 {
				position: relative;
    			top: 120px;
			}

			.value-prop-card-image {
				padding-left: 20px;
				width: 64px;
			}

			.value-prop-card-body {
				padding: 0; 
				margin-top: 12px;
			}

			.value-prop-card-title {
				font-size: 24px;
				line-height: 31px;
				font-family: Avenir-bold;
				margin-bottom: 0;
				color: var(--black-secondary);
			}

			.value-prop-card-text {
				font-family: Avenir;
				font-size: 14px;
				line-height: 24px;
				margin-top: 8px;
				color: var(--black-primary);
			}

			/* End - Value Props Section */


			/* Manufactuing Services Section */

			.services-section {
				background: #1B1C24;
				/*padding-bottom: 200px;*/
				z-index: 10;
    			position: relative;
			}

			.services-section-title {
				color: var(--white-primary);
				margin-left: 15px;
			}

			.border-line {
				width: 150px;
				height: 5px;
				background: var(--turmeric-primary);
				border-radius: 10px;
				margin-top: 20px;
				margin-left: 15px;
			}

			.service-cards-row {
				
			}

			.service-card {
				border: none;
				background: linear-gradient(90deg, #FCFCFC 100%, #FCFCFC 0%);
				width: 510px;
				height: 320px;
				padding: 20px;
				padding-right: 30px;
				position: relative;
				border-radius: 10px;
				margin: 25px 0;
			}

			.yellow-bg{
				background: #FFF1BC;
			}

			.red-bg{
				background: #FFDAD8;
			}

			.service-card-image {
				width: 100px;
			}

			.service-card-body {
				padding: 0 0 10px 10px;
				margin-top: 24px;
			}

			.service-card-title {
				color: var(--black-primary);
				margin-bottom: 0;
			}

			.service-card-text {
				color: var(--black-tertiary);
				margin-top: 8px;
			}

			/* End - Manufactuing Services Section */

		/* End - Home Page */


		/* About Page */

			/* About Hero */

			.about-nav-bg {
				background: #1B1C24;
			}

			.about-hero {
				width: 100vw;
				height: 80vh;
				max-width: 100%;
				max-height: 100%;
				background: #1B1C24;
			}

			.about-hero-content {
				width: 100%;
				height: 100%;
			}

			.about-hero-head {
				font-family: Avenir-bold;
				font-size: 40px;
				line-height: 120%;
				color: var(--white-primary);
			}

			.about-head-underline {
				margin-bottom: 32px;
				width: 140px;
				height: 16px;
				background: var(--turmeric-primary);
				opacity: 0.55;
				margin-top: -25px;
			}

			.about-hero-subhead  {
				font-family: Avenir-bold;
				font-size: 18px;
				line-height: 27px;
				letter-spacing: 0.06em;
				text-transform: uppercase;
				color: var(--white-primary);
				margin-bottom: 16px;
			}

			.about-company-desc {
				color: var(--white-primary);
			}

			.about-hero-img {
				width: 100%;
			}

			.border-line1 {
				width: 150px;
				height: 5px;
				background: var(--turmeric-primary);
				border-radius: 10px;
				margin-top: 20px;
			}

			/* End - About Hero */


			/* About Company Section */

			.contact-section {
				background: var(--white-primary);
			}

			.about-company-img {
				width: 95%;
			    margin-bottom: 25px;
			}

			.about-company-title {
				font-family: Avenir-bold;
				font-size: 32px;
				line-height: 125%;
				color: var(--black-primary);
			}

			.about-company-subtitle {
				line-height: 200%;
				letter-spacing: 0.6px;
				text-transform: uppercase;
				margin-bottom: 0;
				font-family: Avenir-bold;
			}

			.about-company-detail {
				margin-top: 4px !important;
				font-weight: 500;
				line-height: 200%;
				color: var(--black-secondary);
			}

			.about-company-phone {
				margin-top: 24px;
			}

			.about-cta-section {
				background: #1B1C24;
			}

			.about-cta-head {
				font-family: Avenir-semibold;
				font-size: 24px;
				line-height: 133%;
				text-align: center;
				color: var(--white-primary);
			}

			/* End - About Company Section */

			/* Gallery Section */

			.gallery-section {
				background: var(--white-primary);
			}

			.gallery-title {
				font-family: Avenir-bold;
				font-size: 32px;
				line-height: 125%;
				color: var(--black-primary);
			}

			.gallery-desc {
				color: var(--white-secondary);
				width: 81%;
			}

			.gallery-contact-link {
				margin-top: 8px;
				font-family: Avenir-semibold;
				color: var(--turmeric-primary);
			}

			.gallery-contact-link:hover {
				color: var(--white-primary);
			}

			.grid-container {
				margin-top: 40px;
				display: grid;
				grid-gap: 20px;
			}

			.grid-item {
				width: 265px;
				height: 265px;
			}

			.item1 {
				grid-column: 1;
				grid-row: 1;
				background: url("Assets/Images/gallery1.jpg");
			}

			.item2 {
				grid-column: 2;
				grid-row: 1 / span 2;
				height: 550px;
				background: url("Assets/Images/gallery2.jpg");
			}

			.item3 {
				grid-column: 3;
				grid-row: 1;
				background: url("Assets/Images/gallery3.jpg");
			}

			.item4 {
				grid-column: 4;
				grid-row: 1;
				background: url("Assets/Images/gallery4.jpg");
			}

			.item5 {
				grid-column: 1;
				grid-row: 2;
				background: url("Assets/Images/gallery5.jpg");
			}

			.item6 {
				grid-column: 3;
				grid-row: 2;
				background: url("Assets/Images/gallery6.jpg");
			}

			.item7 {
				grid-column: 4;
				grid-row: 2 / span 2;
				height: 550px;
				background: url("Assets/Images/gallery7.jpg");
			}

			.item8 {
				grid-column: 1;
				grid-row: 3;
				background: url("Assets/Images/gallery8.jpg");
			}

			.item9 {
				grid-column: 2;
				grid-row: 3;
				background: url("Assets/Images/gallery9.jpg");
			}

			.item10 {
				grid-column: 3;
				grid-row: 3;
				background: url("Assets/Images/gallery10.jpg");
			}

			.grid-item { /* Repeated class for loading bg properties */
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}

			/*  End - Gallery Section*/



		/* End - About Page */

		.padder {
			margin-top: 48px;
		}

		.padder2 {
			margin-top: 96px;
		}


/* End - Components - Desktop */

/* Responsive CSS */

	@media screen and (max-width: 1299px) {

		.grid-item {
		    width: 250px;
		    height: 250px;
		}

		.item2, .item7 {
		    height: 540px;
		}

	}

	@media screen and (max-width: 1199px) {

		.grid-item {
		    width: 230px;
		    height: 230px;
		}

		.item2, .item7 {
		    height: 480px;
		}

	}

	@media screen and (max-width: 991px) {

		.nav-link-element {
		    padding: 20px 0 !important;
		    text-align: left;
		}

		.nav-btn {
		    padding: 16px 24px !important;
		     margin-left: 0px; 
		    display: inline-block;

		}
		
		.hero-head {
			font-size: 50px;
			line-height: 130%;
		}

		.hero-gold-box {
		    border-image: linear-gradient(270deg, rgba(255,185,68,0.6) 0%, rgba(255, 255, 255, 0) 100%);
		    border-image-slice: 1;
		}

		.h2 {
		    font-size: 26px;
		    line-height: 132%;
		    letter-spacing: 0.6px;
		}

		.mobile-padder2 {
			margin-top: 96px;
		}

		.value-prop-card-margin1, .value-prop-card-margin2 {
		    margin-left: 30px;
		    margin-right: 0px;
		}

		.mobile-col {
			display: none;
		}

		.pattern1 {
		    margin-top: -200px;
		    margin-bottom: 40px;
		}

		.about-hero {
			height: 120vh;
		}

		.about-hero-row {
			flex-direction: column-reverse;
		}

		.about-hero-img {
			width: 60%;
			margin-bottom: 60px;
		}

		.grid-item {
		    width: 160px;
		    height: 160px;
		}

		.item2, .item7 {
		    height: 340px;
		}

	}


	@media screen and (max-width: 767px) {

		.hero {
			height: 100vh;
		}

		.hero-container {
			margin-top: -80vh;
		}

		.hero-content {
			height: 55vh;
		}

		.hero-image-content {
			height: 30vh;
		}

		.hero-head {
			font-size: 40px;
			line-height: 130%;
		}

		.hero-gold-box {
		    width: 400px;
		    height: 400px;
		}

		.fssai-container {
		    left: 340px;
		}

		.cta-btn {
			margin-top: 20px;
		}

		.mobile-padder {
			margin-top: 48px;
		}

		.mobile-padder2-575 {
			margin-top: 96px;
		}

		.mobile-padder3 {
			margin-top: -180px;
		}

		.value-prop-card-margin1, .value-prop-card-margin2 {
		    margin-left: 0px;
		    margin-right: 0px;
		}

		.value-prop-col2 {
		    top: 0px;
		}

		.mobile-shadow {
			margin-top: 0px;
		}

		.footer-margin {
			margin: 20px 0;
		}

		.footer-title {
			padding-bottom: 6px;
		}

		.about-company-email {
		    margin-top: 24px;
		}

		.gallery-contact-div {
			align-items: flex-start !important;
			margin-top: 20px;
		}

		.gallery-desc {
			margin-bottom: 10px;
		}

		.item4 {
		    grid-column: 1;
			grid-row: 4;
		}

		.item6 {
		    grid-column: 2;
			grid-row: 4;
		}

		.item7 {
		    grid-column: 3;
			grid-row: 2 / span 2;
		}

		.item10 {
		    grid-column: 3;
			grid-row: 4;
		}
	}

	@media screen and (max-width: 575px) {

		.nav-logo {
			font-size: 14px;
		}

		.hero {
		    background-position: -1240px -400px;
		}

		.hero-container {
			padding: 0 20px;
		}

		.hero-head {
			font-size: 32px;
			line-height: 130%;
		}

		.hero-gold-box {
		    width: 300px;
		    height: 400px;
		}

		.fssai-container {
		    left: 240px;
		}

		.cta-btn {
		    font-size: 14px;
		    letter-spacing: .6px;
		}

		.container {
			padding: 0 20px;
		}

		.mobile-padder-575 {
			margin-top: 48px;
		}

		.service-card {
		    width: 330px;
		    height: 380px;
		}

		.about-hero {
			height: 150vh;
		}

		.about-hero-img {
			width: 80%;
		}

		.about-company-img {
			width: 90%;
		}

		.grid-item {
		    width: 320px;
		    height: 320px;
		}

		.item2, .item7 {
		    height: 660px;
		}

		.item2 {
		    grid-column: 1;
			grid-row: 2 / span 2;
		}

		.item3 {
		    grid-column: 1;
			grid-row: 4;
		}

		.item4 {
		    grid-column: 1;
			grid-row: 5;
		}

		.item5 {
		    grid-column: 1;
			grid-row: 6;
		}

		.item6 {
		    grid-column: 1;
			grid-row: 7;
		}

		.item7 {
		    grid-column: 1;
			grid-row: 8 / span 2;
		}

		.item8 {
		    grid-column: 1;
			grid-row: 10;
		}

		.item9 {
		    grid-column: 1;
			grid-row: 11;
		}

		.item10 {
		    grid-column: 1;
			grid-row: 12;
		}

		.about-cta-head {
			font-size: 20px;
			line-height: 150%;
		}
	}

/* End- Responsive CSS */